mixin socialMeta(doc)
    //- Open Graph data (facebook & linkedin)
    mixin generalCard(gDoc)
        meta(property="og:title" content=gDoc.get('card_title').value)
        meta(property="og:type", content="article")
        meta(property="og:url", content=pageUrl)
        meta(property="og:image", content=gDoc.get('card_image') && gDoc.get('card_image').getView("main") ? gDoc.get('card_image').getView("main").url : doc.getFirstImage().getView("main").url)
        meta(property="og:description", content= gDoc.get('card_description') ? gDoc.get('card_description').value : doc.getFirstParagraph().text)
        meta(property="article:section", content="Article Section")

    mixin productCard(gDoc)
        meta(property="og:title" content=gDoc.get('card_title') ? gDoc.get('card_title').value :doc.getFirstTitle())
        meta(property="og:description", content= gDoc.get('card_description') ? gDoc.get('card_description').value : doc.getFirstParagraph().text)
        meta(property="og:image", content= gDoc.get('card_image0') && gDoc.get('card_image0').getView("main") ? gDoc.get('card_image0').getView("main").url : doc.getFirstImage().getView("main").url)
        meta(property="og:type", content="product")
        meta(property="og:price:amount", content=gDoc.get('card_amount') ? gDoc.get('card_amount').value : '')
        meta(property="og:price:currency", content=gDoc.get('card_currency') ? gDoc.get('card_currency').value : '')

    mixin placeCard(gDoc)
        meta(property="og:title" content= gDoc.get('card_title') ? gDoc.get('card_title').value : doc.getFirstTitle())
        meta(property="og:type", content="place")
        meta(property="og:description", content= gDoc.get('card_description') ? gDoc.get('card_description').value : doc.getFirstParagraph().text)
        meta(property="place:location:latitude",content = gDoc.get('coordinates') ? gDoc.get('coordinates').latitude: '48.8567')
        meta(property="place:location:longitude", content= gDoc.get('coordinates') ? gDoc.get('coordinates').longitude: '2.3508')

    meta(name="p:domain_verify", content="48ae95a94ba8fd30f31a003069eeff53")
    - var socialSlices = doc.getSliceZone(doc.type + '.social').slices
    if (socialSlices && socialSlices.length > 0)
       each slice in socialSlices
           //- Get first groupDoc in group as it is repeat=false.
           - var firstGroupDoc = slice.value.toArray()[0]
           case slice.sliceType
               when 'general_card'
                   +generalCard(firstGroupDoc)
               when 'product_card'
                   +productCard(firstGroupDoc)
               when 'place_card'
                   +placeCard(firstGroupDoc)


mixin social(doc)
    div.social-share-widgets
        span.social-share-button(onclick="popUp=window.open('https://www.facebook.com/sharer/sharer.php?u=#{pageUrl}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false")
            i.icon-facebook
        span.social-share-button(onclick="popUp=window.open('https://plus.google.com/share?url=#{pageUrl}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false")
            i.icon-google-plus
        span.social-share-button(onclick="popUp=window.open('https://twitter.com/intent/tweet?url=#{pageUrl}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false")
            i.icon-twitter
        span.social-share-button(onclick="popUp=window.open('https://www.linkedin.com/shareArticle?mini=true&url=#{pageUrl}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false")
            i.icon-linkedin
        span.social-share-button(onclick="popUp=window.open('http://pinterest.com/pin/create/link/?url=#{pageUrl + '&media=' + doc.getFirstImage().getView('main').url + '&description=' + doc.getFirstParagraph().text}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false")
            i.icon-pinterest

extends ./layout.jade
head
    block meta
        +socialMeta(doc)
block body
    div.welcome
        img(src=doc.getImage('social.image').url, class='star')
        != doc.getStructuredText('social.title').asHtml(ctx.linkResolver)
        != doc.getStructuredText('social.description').asHtml(ctx.linkResolver)
        if (helpers.socialPluginEnabled)
            +social(doc)



